.nav {
  width: 250px;
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
}

li {
  padding: 10px 0 10px 0;
}

div.thumbnail img{
   max-height: 230px;
   max-width:  230px;
}

div.thumbnail {
   max-width:  286px;
   height: 350px;
}
